<div id="newEditViewDivTrans">
  <div id="newEditFormDiv">
    <%= form_with model: @insult do |form| %>
      <%= form.text_area :phrase, placeholder: "Insult..." %>
      <%= form.text_field :contributor, placeholder: "Your name...", id: "contributorTextField" %>

      <%= form.submit id: "addNewEditInsultButton" %>
    <% end %>
  </div>
  <a href="/insults" id="newEditViewBackButton" onClick="newEditFadeOut()">Go Back</a>
  <%= image_tag ("pikaWrite.gif"), id: "pikaWrite"%>
</div>

<script>
  function newFadeOut() {
    document.getElementById('newEditViewDivOpaque').setAttribute('id', 'newEditViewDivTrans');
  }
</script>

<%= javascript_include_tag('newEditFadeIn.js') %>
