<div id="homeContainerTrans">
    <div class="divFlexHome">   
        <div class="test">   
            <%= image_tag ("pikachu.png"), id: "homePikaLowered1"%>            
            <%= image_tag ("grassResized2.png"), class: "homeGrass"%>            
            <a href="/insults" class="button" id="insultsButtonStart" onclick="homeFadeOut()" ><%= image_tag ("woodSign.png"), id: "homeWoodSign"%></a>
            <a href="https://discordbots.org/bot/525382819808280597" class="button" id="homeInviteSignStart"><%= image_tag ("hangingSign.png"), id: "homeInviteSign"%></a>
        </div>
            
    </div>

    <div id="portraitSky">
        <%= image_tag ("tree.jpeg"), class: "homeTree"%> 
    </div>   
    <%= image_tag ("cobugbotPoke.png"), id: "cobugbotPokeSmall"%>    
    <%= image_tag ("confettiAlpha.gif"), id: "confettiTrans"%>
    
    
</div>


<%= javascript_include_tag('pika.js') %>
<%= javascript_include_tag('introText.js') %>

<script>

    function homeFadeOut() {
        document.getElementById('homeContainerOpaque').setAttribute('id', 'homeContainerTrans');
    }

</script> 

