<% @insult_number = 1 %>


<div id="indexContainerTrans">
    <div class="insultsContainer">
        <ul class="insultList">
            <% @insults.each do |insult| %>
                <li class="insultListItem jediFont" onclick="indexFadeOut()"> <%= @insult_number %> <%= link_to insult.phrase, insult_path(insult), class: 'jediFont' %> </li> 
                <hr align= "left" class= "divider"></hr>
                <% @insult_number += 1 %>
            <% end %>
        </ul>
    </div>
    <%= image_tag ("spacePikachu.png"), id: "spacePika1"%> 
    <div id="spaceDiv">
        <%= image_tag ("space.svg"), id: "space"%> 
        <%= image_tag ("earthSpace.jpg"), id: "earthSpace"%> 
    </div>
        
    <a href="/"  id="indexHomeButton" class="jediFont" onclick="indexFadeOut()">Go Back</a>
    <a href="/insults/new" id="indexNewButton" class="jediFont" onclick="indexFadeOut()"> Add new </a>
</div>   

<!-- View Specific Javascript --> 

<script>

function indexFadeOut() {
    document.getElementById('indexContainerOpaque').setAttribute('id', 'indexContainerTrans');
}

</script>

<%= javascript_include_tag('spacePika.js') %>
<%= javascript_include_tag('indexFadeIn.js') %>