<div id="showContainerTrans">
  <div id="showContentContainer" >
    <div id="phraseContainer">
      <h1 id="showPhrase" class="jediFont"> <%= @insult.phrase %> </h1>
    </div>
    
    <div id="contributorContainer">
      <h2 id="showContributed" class="jediFont"> Contributed by:<strong> <%= @insult.contributor %> </strong> </h2>
    </div>

    

    <%= link_to 'Delete', @insult, method: :delete, id: 'deleteButton', class: 'jediFont', data: { confirm: 'Are you sure you want to delete this insult?' } %>
    <%= link_to 'Edit', "/insults/#{@insult.id}/edit", id: 'editButton', class: 'jediFont' %>
    <a href="/insults" id="newEditViewBackButton" class="jediFont" onClick="showFadeOut()">Go Back</a>
  </div>
    
</div>


<script>
  function showFadeOut() {
    document.getElementById('showContainerOpaque').setAttribute('id', 'showContainerTrans');
  }
</script>

<!-- Javascripts -->

<%= javascript_include_tag('showFadeIn.js') %>

