<!DOCTYPE html>
<html id="html">
  <head>
    <title>Cobugbotgui</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content='minimal-ui, width=device-width, user-scalable=no, initial-scale=1.01'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
